{% if MAILCOW_USE_TRAEFIK%}
version: '2.1'
services:

  nginx-mailcow:
    networks:
      - {{ MAILCOW_TRAEFIK_NETWORK }}
    labels:
      {{ MAILCOW_TRAEFIK_LABELS }}

networks:
  {{ MAILCOW_TRAEFIK_NETWORK }}:
    name: {{ MAILCOW_TRAEFIK_NETWORK }}
    external: true
  default:
    driver: bridge

{% endif %}