#!/usr/bin/env bash
MAILCOW_HOSTNAME={{ MAILCOW_HOSTNAME }}
MAILCOW_TZ={{ MAILCOW_TIMEZONE }}
SKIP_CLAMD={{ MAILCOW_SKIP_CLAMD }}
SKIP_SOLR={{ MAILCOW_SKIP_SOLR }}

echo '# Placeholder' > ./data/conf/rspamd/override.d/worker-controller-password.inc
